@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: 'Inter', 'Arial', 'Times New Roman';
  color: #fff;
}

body {
  background-image: url('../../assets/bg-mobile.jpg');
  background-size: cover;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  padding-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* GROUP BUTTONS */
ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  font-weight: 500;

  text-decoration: none;
  user-select: none;

  transition: background 0.5s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid #fff;
}

ul li a:active {
  transform: scale(1.025);
  transition: all ease-in-out 200ms;
}

/* SOCIAL LINKS */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
}
