@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --right-value: 100;
  --bg-url: url('../../assets/bg-mobile.jpg');
  --switch-bg-url: url('../../assets/sun.svg');
}

.light {
  --text-color: black;
  --highlight-color: rgba(0, 0, 0, 0.1);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --right-value: 0;
  --switch-bg-url: url('../../assets/moon-stars.svg');
  --bg-url: url('../../assets/bg-mobile-light.jpg');
}

body * {
  font-family: 'Inter', 'Arial', 'Times New Roman';
  color: var(--text-color);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* PROFILE */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  padding-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* SWITCH */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #fff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  cursor: pointer;

  position: absolute;
  top: 50%;
  right: var(--right-value);
  transform: translateY(-50%);
  z-index: 1;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* GROUP BUTTONS */
ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  font-weight: 500;

  text-decoration: none;
  user-select: none;

  transition: background 0.5s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid --text-color;
}

ul li a:active {
  transform: scale(1.025);
  transition: all ease-in-out 200ms;
}

/* SOCIAL LINKS */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

/* FOOTER */
footer {
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
}

span {
  color: red;
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
  :root {
    --bg-url: url('../../assets/bg-desktop.jpg');
  }

  .light {
    --bg-url: url('../../assets/bg-mobile-light.jpg');
  }
}
